.module {
	position: relative;
	width: 100px;
	height: 100px;
	background-color: orange;

	.text {
		position: absolute;
		white-space: nowrap;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}

.module-extended {
	@extend .module;
	background-color: blue;
}